.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 37%;
  height: 20%;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}
.clsBtn {
  float: right;
  position: relative;
  bottom: 4rem;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
